.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.searchForm > input {
  max-width: 100%;
  flex: 1;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.filterButtons button {
  flex: 1;
}

.find {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .searchForm {
    flex-direction: column;
  }

  .filterButtons {
    justify-content: space-between;
  }

  .find {
    margin: 0;
  }
}
