.search {
  position: relative;
  max-width: 100%;
  flex: 1;
}

.searchInput {
  width: 100%;
  flex-grow: 1;
  margin-right: 3px;
  padding-right: 35px;
  border: none;
  border: 1px solid rgba(33, 37, 41, 0.25);
  border-radius: 5px;
}

.searchInput:active {
}

.reset {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background-color: inherit;
}
